<div class="menu-blocks">
  <div class="about-block menu-block">
    <div class="about-block-container">
      <h2 class="about menu-item">Resumencin</h2>
    </div>
  </div>
  <div class="portfolio-block menu-block">
    <div class="portfolio-block-container">
      <h2 class="portfolio menu-item">Proyectos</h2>
    </div>
  </div>
  <div class="photo-block menu-block">
    <div class="photo-block-container">
      <h2 class="photo menu-item">Fotografia</h2>
    </div>
  </div>
  <div class="contact-block menu-block">
    <div class="contact-block-container">
      <h2 class="contact menu-item">Contacto</h2>
    </div>
  </div>
</div>
