<div class="name-block">
  <div class="name-block-container">
    <h1><span>Hola, Soy</span>Igor Moreno</h1>
    <h2>Desarrollador FrontEnd</h2>
    <a target="_blank" href="" class="btn btn-download">Descargar CV</a>
    <ul class="social">
      <li>
        <a href="https://www.linkedin.com/in/igormorenoalonso" target_="_blank"
          ><i class="ion-social-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/IgorMoren/"
          ><i class="ion-social-github" target_="_blank"></i
        ></a>
      </li>
      <li>
        <a href="https://wa.me/696529209"
          ><i class="ion-social-whatsapp" target_="_blank"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
