<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<app-inline-menu></app-inline-menu>
<section class="home">
  <div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container">
    <app-name></app-name>

    <app-menu></app-menu>

    <app-about-me></app-about-me>

    <app-projects></app-projects>

    <app-photography></app-photography>

    <app-contact></app-contact>

    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">
        Cerrar <i class="ion-ios-close-empty"></i>
      </div>
      <section class="content"></section>
    </div>
  </div>
</section>
