<section class="content" id="about">
  <div class="block-content">
    <h3 class="block-title">Perfil</h3>
    <h3 class="subheading">
      ¡Hola! soy Igor Moreno
      <br />
      <strong>Desarrollador FrontEnd</strong>
    </h3>

    <p>
      Soy un desarrollador web junior comenzando en este sector. Vengo del
      sector agro-alimentario y estoy en pleno proceso de transformación laboral
      desde que hace dos años decidí dar rienda suelta a esas inquietudes y
      animarme a comenzar este camino. En este proceso formativo he adquirido
      experiencia en el desarrollo de aplicaciones web principalmente en el area
      de FrontEnd. Tengo conocimientos en HTML5, CSS, CSS3, SASS, JavaScript,
      TypeScript y JQuery. Como framework de trabajo he trabajado con Angular
      realizando pequeños proyectos con diferentes librerías como Material,
      PrimeNg y Ng-Charts.
    </p>
    <div class="info-list row">
      <div class="col-sm-6"><span>Nombre : </span> Igor Moreno</div>
      <div class="col-sm-6">
        <span>Fecha de Nacimiento : </span> 04 de octubre de 1987
      </div>
      <div class="col-sm-6">
        <span>Dirección : </span> Pamplona, Navarra, España.
      </div>
      <div class="col-sm-6"><span>Email : </span> moreno.igor.87@gmail.com</div>
      <div class="col-sm-6"><span>Telefono : </span> + 34 696 529 209</div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Experiencia</h3>
    <div class="timeline experience">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div class="exp">
              <div class="hgroup">
                <h4><span>Desarrollador FrontEnd</span> Bosonit</h4>
                <h5>
                  Abril - 2022
                  <span class="current">Actualmente</span>
                </h5>
              </div>
              <p>
                Actualmente me encuentro trabajando en Bosonit como
                desarrollador FrontEnd realizando pequeños proyectos web basados
                en Angular.
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span> Analista de laboratorio de calidad </span>
                  3P Biopharmaceuticals
                </h4>
                <h5>May 2020 - May 2021</h5>
              </div>
              <p>
                Trabajo bajo normativa GMP Manejo de diferentes equipos
                analíticos: HPLC, espectrofotometro ( Uv Spectra Manager),
                Turbidímetro, Osmónetro, ATR, Conductivímetro y pHmetro.
                Cromatografía HPLC/UPLC ( Empower/ ChemStation) Preparativa de
                muestras y tratamiento de datos utilizando diferentes tipos de
                cromatografía y distintos detectores ( SEC, RP, IEX, DAD, RID,
                ELSD, HILIC) Control FQ ( TOC, CE, Nitratos) de agua para
                inyectables. Análisis de materias primas siguiendo farmacopea
                Europea y USP Gestión y mantenimiento básico de equipos (
                balanzas, micropipetas, HPLC,pHmetro) Redacción de PNT’s, OOS y
                desviaciones Entrenamiento del nuevo personal del laboratorio en
                las diferentes actividades: uso de equipos, registro de datos y
                documentación de laboratorio. Análisis de estudios de
                estabilidad
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span>Laboratory assistant R&D (DSP)</span>
                  3P Biopharmaceuticals
                </h4>
                <h5>Nov 2019 - May 2020</h5>
              </div>
              <p>
                Manufacturing R&D batches in a GMP environment. AKTA system, TFF
                (UF-DF), filtration system
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span>Analista de laboratorio</span>
                  Refresco Iberia
                </h4>
                <h5>Ago 2019 - Nov 2019</h5>
              </div>
              <p>
                Trazabilidad de producto Microbiología de producto terminado.
                Control de líneas y producto terminado realizando análisis
                físico-químicos y organolépticos del producto. Calibración y
                ajuste de aparatos. Análisis de materia prima según cliente
                Volumetrías HPLC.
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span>Inspector de medio ambiente</span>
                  Bureau Veritas
                </h4>
                <h5>Mar 2018 - Ago 2018</h5>
              </div>
              <p>
                Realización de toma de muestras medioambientales de los
                diferentes focos y realización de los informes correspondientes
                para el gobierno en cuestión.
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span>Analista de laboratorio</span>
                  Palacios alimentación
                </h4>
                <h5>May 2016 - May 2018</h5>
              </div>
              <p>
                Realización de los análisis de control de la mercancía
                almacenada. Realización de los análisis de control de la
                limpieza de las plantas productivas. Análisis de producto final
                asegurando su conformidad por los límites establecidos. Gestión
                de los boletines de análisis e interpretación de los datos.
                Preparación de los medios de cultivo. Análisis microbiológico y
                físico químico de materia prima, producto final, superficies y
                manipuladores. Análisis de los microorganismos mediante la
                reacción de la cadena polimerasa (PCR)
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  <span>Ingeniero de control y calidad</span>
                  Palacios alimentación
                </h4>
                <h5>May 2016 - May 2018</h5>
              </div>
              <p>
                Gestión de proveedores (no conformidades, documentación,
                auditoria). Realización de auditorías internas. - Control de
                entrada de materias primas. Control y análisis de los procesos
                de producción, aplicación y seguimiento de las medidas
                correctoras. Seguimiento y control de la documentación del
                sistema. Formación de plagas, higiene y calidad alimentaria al
                personal de planta. Gestión del material no conforme.
                Seguimiento del sistema APPCC. Food Defense. IFS y BRC. Revisión
                de etiquetado de producto y escandallo. Trazabilidad
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Educación</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div class="exp">
              <div class="hgroup">
                <h4>
                  Desarrollo de aplicaciones WEB |
                  <span>Ilerna Online</span>
                </h4>
                <h5>Sept 2020- Jul 2022</h5>
              </div>
              <p>
                Estudios de desarrollo de aplicaciones web centrado en
                tecnologias como HTML5, CSS, JavaScript, MySql Y PHP. Ademas de
                una introduccion a la programacion en C# Y Java.
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  Máster en PRL |
                  <span>UNIR</span>
                </h4>
                <h5>Sept 2018 - Jun 2019</h5>
              </div>
              <p>
                Máster en prevención de riesgos laborales en las tres
                especialidades.
              </p>
            </div>
            <div class="exp">
              <div class="hgroup">
                <h4>
                  Ingeniero Técnico Agricola |
                  <span>Universidad Pública de Navarra</span>
                </h4>
                <h5>Sept 2007 - Jul 2013</h5>
              </div>
              <p>
                Titulación como ingeniero técnico agrícola en la especialidad de
                industrias agralimentarias. Realización del proyecto con una
                beca de colaboracion
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content">
    <h3 class="block-title">Awards</h3>
    <div class="row">
      <div class="col-md-3 col-sm-6 awards">
        <img src="assets\images\awards\1.jpeg" alt="" />
      </div>
      <div class="col-md-3 col-sm-6 awards">
        <img src="assets\images\awards\2.jpeg" alt="" />
      </div>
      <div class="col-md-3 col-sm-6 awards">
        <img src="assets\images\awards\3.jpeg" alt="" />
      </div>
      <div class="col-md-3 col-sm-6 awards">
        <img src="assets\images\awards\4.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase">moreno.igor.87@gmail.com</a>
    </div>
  </div>
</section>
